/* 
    Created on : Jun 6, 2016, 2:55:51 PM
    Author     : Elliot Martinez
*/

/* The styles for the elements */
body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    margin-left: 2em;
    margin-right: 2em;
    width: 500px;
}
h1 {     
    font-size: 140%;
    color: darkblue;
    margin-bottom: .5em;    
}
h2 {     
    font-size: 120%;
    color: darkblue;
    margin-bottom: .5em;    
}
h3 {
    display: inline-block;
    margin-bottom: 0em;
    margin-top: 0em;
    width: 8em;
     
}
label {
    float: left;
    width: 7em;
    margin-bottom: 0.5em;
    font-weight: bold;
}
span {
    margin-left: 0.5em;    
    margin-bottom: 0.5em; 
    display: inline-block;
}
br {
    clear: both;
}

/* The styles for the classes */
.pad_top {
    padding-top: 0.25em;
}
.margin_left {
    margin-left: 0.5em;
}

/* The styles for the tables */
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50em;
}
th, td {
    border: 1px solid black;
    text-align: left;
    padding: .5em;
}
.right {
    text-align: right;
}
input {
    float: left;
}
label {
    float: left;
}
.item {
    display: inline-block;
  
}
.vspacer {
    padding-top: 1em;
}
.hspace {
    padding-left: 8em;
}
input[type=submit] {
    font-size: medium;
}
i {
    color: crimson;
}